<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'words.title' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="teal" (click)="add()">
        <ion-icon name="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let word of words" #slidingItem>
      <button detail-none ion-item (click)="view(word)">
        <h2>{{ word.value }}</h2>
        <p>{{ word.value }}</p>
      </button>
      <ion-item-options side="right">
        <button ion-button color="teal" (click)="edit(slidingItem, word)">
          {{ 'button.edit' | translate }}
        </button>
        <button ion-button color="danger" (click)="delete(slidingItem, word)">
          {{ 'button.remove' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
