<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'topics.title' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="teal" (click)="openEditor()">
        <ion-icon name="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let topic of topics" #slidingItem>
      <button ion-item (click)="openWords(topic)">
        <h2>{{ topic.name }}</h2>
        <p>{{ 'topics.item.words-number' | translate }} {{ topic.wordsNumber }}</p>
      </button>
      <ion-item-options side="right">
        <button ion-button color="teal" (click)="edit(slidingItem, topic)">
          {{ 'button.edit' | translate }}
        </button>
        <button ion-button color="danger" (click)="remove(slidingItem, topic)">
          {{ 'button.remove' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>