<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button color="teal" (click)="cancel()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>
      Topic editor
    </ion-title>
    <ion-buttons end>
      <button ion-button color="teal" (click)="done()">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  
  <!--Topic-->
  <ion-list>
    <ion-list-header>Topic</ion-list-header>
    <ion-item>
      <ion-input type="text" placeholder="Input topic name" [(ngModel)]="object.name"></ion-input>
    </ion-item>
  </ion-list>

  <!--Comments-->
  <ion-list>
    <ion-list-header>Comment</ion-list-header>
    <ion-item>
      <ion-textarea rows="3" placeholder="Input comment" [(ngModel)]="object.comment"></ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>
