<ion-header>
  <ion-navbar>
    <ion-title>
      Topics
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openEditor()">
        <ion-icon name="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let topic of topics">
      <button ion-item (click)="seeWords(topic)">
        <h2>{{ topic.name }}</h2>
        <p>{{ topic.getWordsNumberTemplate() }}</p>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger">
        <ion-icon name="ios-close-outline"></ion-icon>
      </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>