<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'app.title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-card>
    <ion-card-header text-center>
      {{ 'home.welcome' | translate }}
    </ion-card-header>
    <ion-list>
      <button ion-item (click)="startLearning()">
        <ion-icon name="ios-school-outline" item-start></ion-icon>
        {{ 'home.card.start-learning' | translate }}
      </button>

      <button ion-item (click)="addNewWord()">
        <ion-icon name="ios-add-circle-outline" item-start></ion-icon>
        {{ 'home.card.add-new-word' | translate }}
      </button>
    </ion-list>
  </ion-card>
</ion-content>