<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'settings.title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-list-header>
      {{ 'settings.section.sync.title' | translate }}
      <button item-end ion-button outline icon-start color="teal" (click)="sync()">
        <ion-icon name='ios-sync-outline'></ion-icon>
        {{ 'button.sync' | translate }}
      </button>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'settings.section.sync.auto' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="autoSync" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'settings.section.sync.every' | translate }}</ion-label>
      <ion-select [disabled]="!autoSync" interface="action-sheet" [(ngModel)]="every">
        <ion-option value="15">15 min</ion-option>
        <ion-option value="30">30 min</ion-option>
        <ion-option value="60">60 min</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'settings.section.sync.last' | translate }}</ion-label>
      <ion-datetime displayFormat="YYYY.MM.DD HH:mm" [ngModel]="syncDate"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      {{ 'settings.section.interface.title' | translate }}
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'settings.section.interface.lang' | translate }}</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="lang" (ngModelChange)="onLangChange()" [compareWith]="compareLang">
        <ion-option *ngFor="let lang of langs" [value]="lang">{{ lang.name }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
